{% load static %}
{% static "audio" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Poca - Podcast &amp; Audio Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Likhith - Poca &amp; Music Website</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static './img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="pocaNav">

          <!-- Logo -->
          <a class="nav-brand" href="index.html"><img src="{% static './img/core-img/logo.png' %}" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li class="current-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="current-item"><a href="{% url 'album' %}">Albums</a></li>
                <li class="current-item"><a href="{% url 'register' %}">Register</a></li>
                <li class="current-item"><a href="{% url 'login' %}">Login</a></li>
              </ul>

              <!-- Top Search Area -->
              <div class="top-search-area">
                <form action="{% url 'index' %}" method="post">
                  <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>

              <!-- Top Social Area -->
              <div class="top-social-area">
                <a href="https://www.facebook.com/likhith.raju.77" class="fa fa-facebook" aria-hidden="true"></a>
                <a href="https://twitter.com/LikhithRaju3" class="fa fa-twitter" aria-hidden="true"></a>
                <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
                <a href="https://www.instagram.com/likhithgraju/" class="fa fa-instagram" aria-hidden="true"></a>
                <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a>
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <!-- Preloader -->
  <div id="preloader">
    <div class="preloader-thumbnail">
      <img src="{% static './img/core-img/preloader.png' %}" alt="">
    </div>
  </div>

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->


      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text">
                <h2 data-animation="fadeInUp" data-delay="100ms">Listen Now</h2>
                <h5 data-animation="fadeInUp" data-delay="300ms">Sit Back , Get your Headphones and enjoy the latest songs.</h5>
                <div class="welcome-btn-group">
                  <a href="http://musicwebheroku.herokuapp.com/" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with Laana</a>
                  <a href="https://play.google.com/store/apps/details?id=com.athish_works.dino_trex&showAllReviews=true" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Try Downasaur App</a>
                </div>
              </div>
              <!-- Welcome Music Area -->
              <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
                <div class="poca-music-thumbnail">
                  <img src="{% static './img/bg-img/28.jpg' %}" alt="" style="height : 250px">
                </div>
                <div class="poca-music-content">
                  <p>#1 on trending</p>
                  <h2>Duniyaa</h2>
                  <h3>Artist : Akhil , Dhwani Bhanushali(10 A.M)</h3>
                  <div class="music-meta-data">
                  </div>
                  <!-- Music Player -->
                  <div class="poca-music-player">
                    <audio preload="auto" controls id="x1" onplay="duniyaa()">
                      <source src="{% static 'audio/duniyaa.mp3' %}">
                    </audio>
                  </div>
                  <!-- Likes, Share & Download -->
                  <div class="likes-share-download d-flex align-items-center justify-content-between">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                    <div>
                      <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                      <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->

    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** Latest Episodes Area Start ***** -->
  <section class="poca-latest-epiosodes section-padding-80">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Trending in India</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row poca-portfolio">

        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item entre wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{% static './img/bg-img/29.jfif' %}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <h2>Pal Pal Dil Ke Pas</h2>
              <h3>Artist : Arjit Singh</h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls id="x2" onplay="pal()">
                  <source src="{% static 'audio/PalPal.mp3' %}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item entre tutor wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{% static './img/bg-img/30.jfif' %}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <h2>Butta Bomma</h2>
              <h3>Artist : Aarman Malik</h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls id="x3" onplay="butta()">
                  <source src="{% static 'audio/butta.mp3' %}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item media wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{% static './img/bg-img/31.jpg' %}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <h2>Firse Machayenge</h2>
              <h3>Artist : Emiway Bantai</h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls id="x4" onplay="machayenge()">
                  <source src="{% static 'audio/machayenge.mp3' %}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item media wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{% static './img/bg-img/32.jpg' %}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <h2>Zara Zara</h2>
              <h3>Artist : Omkar Singh </h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls id="x5" onplay="zara()">
                  <source src="{% static 'audio/zara.mp3' %}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item tech wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{% static './img/bg-img/35.jpg' %}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <h2>Dheeme Dheeme</h2>
              <h3>Artist : Neha Kakkar </h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls id="x6" onplay="dheeme()">
                  <source src="{% static 'audio/dheeme.mp3' %}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for album in songs %}
        <!-- Single gallery Item -->
        <div class="col-12 col-md-6 single_gallery_item tech wow fadeInUp" data-wow-delay="0.2s">
          <!-- Welcome Music Area -->
          <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
            <div class="poca-music-thumbnail">
              <img src="{{album.image.url}}" alt="" style="width : 800px ; height : 303px">
            </div>
            <div class="poca-music-content text-center">
              <span class="music-published-date mb-2">December 9, 2018</span>
              <h2>{{album.name}}</h2>
              <h3>Artist : {{album.artist}} </h3>
              <div class="music-meta-data">
              </div>
              <!-- Music Player -->
              <div class="poca-music-player">
                <audio preload="auto" controls>
                  <source src="{{album.song.url}}" alt="">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>

  </section>
  <!-- ***** Latest Episodes Area End ***** -->

  <!-- ***** Featured Guests Area Start ***** -->
  <section class="featured-guests-area">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Creators Gallery</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>


      <div class="row justify-content-around">
        <!-- Single Featured Guest -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="single-featured-guest mb-80">
            <img src="{% static 'img/bg-img/33.png' %}" alt="">
            <div class="guest-info">
              <h5>Likhith Raju</h5>
              <span>Web Developer</span>
            </div>
          </div>
        </div>

        <!-- Single Featured Guest -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="single-featured-guest mb-80">
            <img src="{% static 'img/bg-img/34.jfif' %}" alt="" style="height : 320px ; width : 300px">
            <div class="guest-info">
              <h5>Athish Venkatesh</h5>
              <span>App Developer</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Featured Guests Area End ***** -->

  <!-- ***** Newsletter Area Start ***** -->
  <section class="poca-newsletter-area bg-img bg-overlay pt-50 jarallax" style="background-image: url({% static 'img/bg-img/15.jpg' %});">
    <div class="container">
      <div class="row align-items-center">
        <!-- Newsletter Content -->
        <div class="col-12 col-lg-6">
          <div class="newsletter-content mb-50">
            <h2>Sign Up To Laana and Download Downasaur</h2>
            <h6>Subscribe to Laana and Downasaur to receive info on our latest Music and Games</h6>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Newsletter Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">About Us</h4>

            <p>The World knows about the combination of Likhith And Athish (especially in T_ursing)in the recent days.Here is just another master piece of these two.</p>
            <div class="copywrite-content">
              <p>&copy;

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>



        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Lastest Songs Coming Soon</h4>

          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Follow Us</h4>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
            </div>
            <!-- App Download Button -->
            <div class="app-download-button mt-30">
              <a href="#"><img src="{% static './img/core-img/app-store.png' %}" alt=""></a>
              <a href="#"><img src="{% static './img/core-img/google-play.png' %}" alt=""></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'js/poca.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/default-assets/active.js' %}"></script>

  <script src="{% static 'js/playpause.js'%}"></script>


</body>

</html>
